*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 600px;
    display: grid;
    grid-template-rows: 60px 80px 150px 40px;
    padding:40px;
    grid-template-columns: 100px 100px 100px 90px;
    grid-gap: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
    align-content: center;
}
.item{
    padding:2px;

}
.i1{
    background: red;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 5;

}
.i2{
    background:red;
    color: #fff;
}
.i3{
    background: red;
    grid-column-start: 3;
    color: #fff;
}
.i4{
    background: red;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #fff;
}
.i5{
    background: red;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    color: #fff;
}
.i6{
    background: red;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #fff;
}

.i7{
    background: red;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
} 